{% load staticfiles%}
<!DOCTYPE html>
<html>
<head>
	<title>Registro Entidad</title>
	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 	<meta name="author" content="Kafer">
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
	<link href="{% static 'css/formEntidad.css' %}" rel="stylesheet">
	

</head>
<body>
	<!-- Nabvar -->
	<nav class="navbar navbar-dark bg-dark sticky-top">
  		 <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}"> <img style="max-width:100px; margin-top: -7px;"
             src="{% static 'images/nzinga.png' %}"></a>
	</nav>

	<!-- Formularios -->
	<div class="row"><p></p><br><div class="col-md-12"></div></div>
	<div class="container center-block ">	
		<form method="post">
			{% csrf_token %}
		
				{{form.as_p}}
			
			
				{{formEntidad.as_p}}
			
				<div class="row">
					<div class="col-md-5"></div>
					<div class="col-md-7">
						<button class="btn btn-primary center-block"type="submit">Registrar</button>
					</div>
				</div>

		</form>
	</div>
	<br>
	</br>
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <span class="copyright">Copyright &copy; Your Website 2019</span>
        </div>
        
        <div class="col-md-6">
          <div class="list-inline quicklinks">
            <li class="list-inline-item">
              <a class="Privacy-policy"href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a  class="terms" href="#">Terms of Use</a>
            </li>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>